  {% extends "base.html" %}
  
    {% block title %}Products{% endblock %}
  



  {% block content %}
  <h1 style="color:gold;text-align: center;">PRODUCTS</h1>
  <!-- Button trigger modal --> {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container mt-3">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:rgb(212, 185, 30);outline: none;border: #4AC4F3;">
  ADD PRODUCTS
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">add products</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/add_product" method="post">
         
          <label for="name">Product Name:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="buyingprice">Buying Price:</label><br>
          <input type="text" id="buyingprice" name="buyingprice"><br>
          <label for="sellingprice">Selling Price:</label><br>
          <input type="text" id="sellingprice" name="sellingprice"><br>
          <label for="quantity">Quantity:</label><br>
          <input type="text" id="quantity" name="quantity"><br><br>
          <input type="submit" value="ADD PRODUCT" style="background-color:rgb(212, 185, 30) ;outline: none;border: none;background-origin: padding-box;">
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:rgb(212, 185, 30) ;">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-sm-12 col-md-12">
  <table class="table table-dark table-striped-columns" id="myTable">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>buyingprice</th>
        <th>sellingprice</th>
        <th>stockquantity</th>
      </tr>
    </thead>
    <tbody>
      {% for i in products %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>



  {% endblock %}
