    {% extends "base.html" %}
    {% block title %} Register {% endblock %}
   
    

      
      {% block content %}
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">REGISTER HERE</h2>
    
      <form action="/register" method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container mt-3">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="full_name" class="form-control form-control-lg" name="full_name"/>
            <label class="form-label" for="full_name">FULL NAME</label>
        </div>
    
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="email" class="form-control form-control-lg" name="email"/>
            <label class="form-label" for="email">Your Email</label>
        </div>
    
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="password" class="form-control form-control-lg" name="password"/>
            <label class="form-label" for="password">Password</label>
        </div>
    
        <div class="d-flex justify-content-center">
            <input type="submit" value="REGISTER" data-mdb-button-init
                   data-mdb-ripple-init class="btn btn-info btn-block btn-lg gradient-custom-4 text-body"/>
        </div>
    
        <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="/login"
            class="fw-bold text-body"><u>Login here</u></a></p>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
  
   