{% extends "base.html" %}
{% block title %}Sales{% endblock %}

 {% block content %}
  <h1 style="color:gold;text-align: center;">SALES </h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:rgb(212, 185, 30);outline: none;border: #4AC4F3;">
    ADD SALES
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">add sales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form action="/add_sales" method="post">
           
            <label for="fruits">product name:</label>

            <select name="productid"  id="productid"  class="form-select form-select-lg mb-3" aria-label="Large select example">
              <option selected>Open to select product</option>
              {%for i in prodducts%}
              <option value="{{i[0]}}" name="productid" id="productid">{{i[1]}}</option>
              {%endfor%}
            </select> <br>

            <label for="quantity">quantity:</label><br>
            <input type="text" id="quantity" name="quantity"><br><br>

            <input type="submit" value="ADD SALES" style="background-color: rgb(212, 185, 30);outline: none;border: none;">
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: rgb(212, 185, 30);">Close</button>

        </div>
      </div>
    </div>
  </div>

  
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-12 col-sm-12 col-md-12">
  <table id="theTable" class=" table table-dark table-striped-columns"  >
    <thead >
      <tr>
        <th>id</th>
        <th>productid</th>
        <th>quantity</th>
        <th>created at</th>
      </tr>
    </thead>
    <tbody>
      {% for i in sales %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script>
  let table = new DataTable('#theTable');
</script>



  {% endblock %}
